body {
	width: 1600px;
	margin: 0;
}

header {
	background: url(../img/header-bg.jpg) no-repeat;
	padding-bottom: 423px;

	.glow-logo {
		margin-top: 107px;
		margin-left: 730px;
	}

	.header-social {
		margin-top: 21px;
		text-align: center;
		.header-social__a {
			display: inline-block;
			width: 52px;
			height: 52px;
			font-size: 0;
			border-radius: 50%;
		}

		.social__apple {
			background: #030303 url(../img/apple-icon.png) no-repeat center;
			opacity: 0.5;
		}

		.social__android {
			background: #030303 url(../img/androd-icon.png) no-repeat center;
			margin: 0 13px;
			opacity: 0.5;

		}

		.social__windows {
			background: #030303 url(../img/windows-icon.png) no-repeat center;
			opacity: 0.5;
		}

		.social__apple:hover,
		.social__android:hover,
		.social__windows:hover{
			opacity: 1;
		}

	}

	.moving-block {
		position: relative;

		.moving-block__a img {
			position: absolute;
			top: 1px;
			left: 1px;
		}



		img {
			position: absolute;
			top: 127px;
			left: 572px;
		}
	}
}