body {
	width: 1600px;
	margin: 0;
}

header {
	background: url(../img/header-bg.jpg) no-repeat;
	padding-bottom: 423px;

	.glow-logo {
		margin-top: 107px;
		margin-left: 730px;
	}

	.header-social {
		margin-top: 21px;
		text-align: center;
		.header-social__a {
			display: inline-block;
			width: 52px;
			height: 52px;
			font-size: 0;
			border-radius: 50%;
		}

		.social__apple {
			background: #030303 url(../img/apple-icon.png) no-repeat center;
			opacity: 0.5;
		}

		.social__android {
			background: #030303 url(../img/androd-icon.png) no-repeat center;
			margin: 0 13px;
			opacity: 0.5;

		}

		.social__windows {
			background: #030303 url(../img/windows-icon.png) no-repeat center;
			opacity: 0.5;
		}

		.social__apple:hover,
		.social__android:hover,
		.social__windows:hover{
			opacity: 1;
		}
	}

	.moving-block {
		position: relative;

		.moving-block__a img { /*Пока так*/
			position: absolute;
			top: 55px;
			left: 774px;
		}

		img { /*Пока так*/
			position: absolute;
			top: 127px;
			left: 572px;
		}
	}
}

main {
	.features {
		margin-top: 39px;
		padding-bottom: 149px;
		.features-item:nth-child(1),
		.features-item:nth-child(3), {
			float: left;
			margin-left: 271px;
		}

		.features-item:nth-child(2),
		.features-item:nth-child(4), {
			float: right;
			margin-right: 271px;
		}

		.features-row_botton {
			margin-top: 31px;
		}

		.features-item {
			width: 295px;
			h2 {
				height: 18px;
				color: #222;
				font-family: "Myriad Pro", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 24px;
				font-weight: 600;
				line-height: 18px;
				letter-spacing: 0.1px;;;
			}

			p {
				width: 295px;
				height: 65px;
				color: #848484;
				font-family: "Helvetica Neue",'Work Sans', sans-serif;
				font-size: 16px;
				font-weight: 400;
				line-height: 27px;
			}
		}
	}

	.about {
		background-color: #e8e8e8;
		padding-bottom: 55px;
		.about-description{
			float: left;
			margin-top: 63px;
			margin-left: 207px;
			h2 {
				height: 23px;
				color: #222;
				font-family: "Myriad Pro", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 30px;
				font-weight: 600;
				line-height: 18px;
				margin: 0;
				margin-right: 0;
			}

			p {
				width: 534px;
				color: #848484;
				font-family: "Helvetica Neue",'Work Sans', sans-serif;
				font-size: 16px;
				font-weight: 400;
				line-height: 25px;
				margin-top: 20px;
			}

			ul {
				list-style-image: url(../img/marker.png);
				li {
					p {
						line-height: 9px;
						padding-left: 4px;
					}
				}
			}
		}

		.about-video {
			float: right;
			margin-top: 60px;
			margin-right: 211px;;
		}
	}

	.awesome {
		width: 1180px;
		margin: 0 auto;
		padding-bottom: 96px;
		h2 {
			text-align: center;
			font-family: "Myriad Pro", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #222;
			font-size: 30px;
			font-weight: 600;
			line-height: 18px;
			padding-top: 38px;
		}

		.awesome__p {
			width: 1019px;
			margin: 0 auto;
			font-family: "Helvetica Neue",'Work Sans', sans-serif;
			font-size: 16px;
			color: #848484;
			font-weight: 400;
			line-height: 25px;
			text-align: center;
		}

		.awesome__row_1 {
			margin-top: 105px;
			margin-left: 42px;
		}

		.awesome__row_2 {
			margin-top: 88px;
			margin-left: 42px;
		}

		.awesome-item {
			display: inline-block;
			margin-right: 114px;
			width: 290px;
			text-align: center;

			h3 {
				color: #222;
				font-family: "Myriad Pro", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 24px;
				font-weight: 600;
				line-height: 18px;
				margin-top: 31px;
			}

			p {
				color: #848484;
				font-family: "Helvetica Neue",'Work Sans', sans-serif;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
			}
		}

		.awesome-item:nth-child(3n) {
			margin-right: 0px;
		}
	}
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}